.mat-spinner {
  margin-top: 30px;
}

.empty-list-message {
  display: flex;
  justify-content: center;
}

.search-controls {
  display: flex;
  justify-content: center;

  button {
    height: 36px;
    margin-top: 15px;
  }

}
