.movie {
  width: 240px;
  cursor: pointer;

  .movie-image {
    object-fit: contain;
    height: 240px;
  }
}

.movie-description {
  white-space: pre-wrap !important;
}

.movie-genre {
  color: blue;
  text-decoration: none !important;
  cursor: pointer;
}
