<ng-container *ngIf="type === 'card'; else displayDetail">
  <mat-card class="movie mat-elevation-z4" [routerLink]="['/movies', item.key, 'detail']">
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-subtitle>{{item.length}}</mat-card-subtitle>
    </mat-card-header>
    <img class="movie-image" mat-card-image image-loading [originalSrc]="item.img" [src]="imageLoadingPlaceholder">
    <mat-card-content>
      <p>{{item._shortDescription}}</p>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #displayDetail>
  <ng-container *ngIf="type === 'detail'">
    <a style="padding: 0 16px;" [routerLink]="['/movies', 'list']">Back</a>
    <mat-list>
      <h3 mat-subheader>Details</h3>
      <img style="padding: 0 16px;" image-loading [originalSrc]="item.img" [src]="imageLoadingPlaceholder" />
      <ng-container *ngFor="let column of displayedColumns;">
        <mat-list-item *ngIf="irrelevantColumns.indexOf(column) === -1 && column[0] !== '_'">
          <h4 class="strong" mat-line>{{capitalize(column)}}</h4>
          <p class="movie-description" mat-line>{{item[column]}}</p>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </ng-container>
</ng-template>
