/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table {
  display: flex;
  justify-content: center;
  table {
    width: 90%;
    cursor: pointer;
    tr:hover {
      background: #f5f5f5;
    }
    tr:active {
      background: #efefef;
    }
  }
}

.strong {
  font-weight: bold !important;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
