<div class="search-controls">
  <mat-form-field>
    <input matInput type="text" placeholder="Type to search" [(ngModel)]="searchText" />
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-select [placeholder]="!genres.length ? 'Loading Genres' : 'Choose Genre'" [(ngModel)]="searchGenre">
      <mat-option [value]="genre" *ngFor="let genre of genres;">{{capitalize(genre)}}</mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp; &nbsp;
  <button mat-raised-button color="primary" (click)="search($event)">Search</button>
</div>

<router-outlet></router-outlet>
